<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <link href="../assets/pages/css/error.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div layout:fragment="content">
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 500</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i>错误</h3>
                <p>
                    对不起，服务器出错了，请联系管理员<br/>
                </p>
                <div class="search-form">
                    <div class="input-group-btn">
                        <a th:href="@{/work/home.html}" class="btn btn-warning btn-flat">返回首页
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>

</html>