<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
</head>
<body>
<div layout:fragment="content">
    <link rel="stylesheet" href="/plugins/layui_tree_grid/design/css/layui.css">
    <script src="/plugins/layui_tree_grid/design/layui.js"></script>
    <section class="content-header">
        <h1>
            菜单管理
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered" style="width:auto;">
                    <div class="portlet-body">
                        <div class="table-toolbar">

                        </div>
                        <div id="sample_1_wrapper" class="dataTables_wrapper no-footer" style="margin-top: -50px;">
                            <table class="table table-striped table-bordered table-hover layui-hidden" id="treeTable"
                                   lay-filter="treeTable" style="word-break:break-all;" width="100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="starModal" class="modal fade" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">编辑菜单</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="portlet-body form">
                                        <form class="form-horizontal" role="form" id="menuformid"
                                              enctype="multipart/form-data"
                                              method="post">
                                            <div class="form-body">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">上级菜单:</label>
                                                    <div class="col-sm-7">
                                                        <input readonly="readonly" type="text" class="form-control"
                                                               placeholder="根目录"
                                                               name="pname">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">菜单名称:</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control"
                                                               placeholder="请填写菜单名称"
                                                               data-rule="required(请填写菜单名称)|focus"
                                                               name="name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">菜单类型:</label>
                                                    <div class="col-sm-7">
                                                        <label class="radio-inline" style="width:20%">
                                                            <input type="radio" name="type" value="0" id="type1"
                                                                   checked="checked">目录
                                                        </label>
                                                        <label class="radio-inline" style="width:20%">
                                                            <input type="radio"
                                                                   name="type"
                                                                   value="1"
                                                                   id="type2"> 菜单
                                                        </label>
                                                        <label class="radio-inline" style="width:20%">
                                                            <input type="radio"
                                                                   name="type"
                                                                   value="2"
                                                                   id="type3"> 按钮
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">链接地址</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control"
                                                               placeholder="请填写地址"
                                                               data-rule="required(请填写地址)|focus"
                                                               name="address">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer" style="text-align: center">
                                                <button type="submit" class="btn btn-success" id="save">保存</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/appjs/sys/menu/menu.js"></script>
</div>
</body>
</html>